.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.taskform {
  border: 2px solid black;
  min-width: 20%;
  background-color: lightgray;
  float: left;
  overflow: auto;
}

  
.taskform label {
  display: inline-block;
  width: 150px;
  text-align: left;
}
.taskform button{
  float: left ;
}

div {
  margin-bottom: 10px;
}

.color-nav {
  background-color: #e91e63!important;
}
.card-floater{
  float:left; 
  background-color: lime;
}

.span-border{
  border:solid 2px rgb(231, 17, 17);
  min-height: 100%;
  min-width: 100%;

  }  



