.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.taskform {
  border: 1px dashed black;
  min-width: 500px;
  background-color: rgb(248, 244, 244);
  float: left;
  overflow: auto;
}

  
.taskform label {
  display: inline-block;
  width: 150px;
  text-align: left;
}
.taskform button{
  float: left ;
}

div {
  margin-bottom: 10px;
}

.color-nav {
  background-color: #ff9900!important;
}
.card-floater{
  float:left; 
  background-color: lime;
}

.span-border{
  border:solid 2px rgb(231, 17, 17);
  min-height: 100%;
  min-width: 100%;
}

.infofoto{
  height: 60px;
  width: 100px;
}
.todopanel{
  background-image: url('resources/bc2.png');
  opacity: 0.5;
}
.right-float{
  float: right;
}
.small{
  font-size: xx-large;
}

.custom-btn {
  background: #fff;
  color: green;
  border: 2px solid red;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
  float: right;
  margin: 12px;
}

.marge-float-right{
margin: 20px;
float: right;  
}

.InfoBox{
  border: black 1px dashed;
  min-width: 100% ;
  float: right;  
}

.block{
  height:    auto;
  min-width: 400px;
  min-height: 80px;
  background-color:rgb(221, 247, 175) ;
  border: 1px solid rgb(69, 12, 224);
}

.blockinfosmall{
font-size: 10px;
}

.blockinfomedium{
font-size: 12px;
}
.blockinfolarge{
  font-size: 14px;
  }

ul{
  list-style-type: none;
 }
 li{
  list-style-type: none;
 }
 p {
  line-height: 0.8;
}
